<html>
<header>
<title>JMS</title>
</header>
<body>
<h1>JMS</h1>
<b>Scheme:</b> jms<br/>
<b>Syntax:</b> jms:destinationType:destinationName<br/>
<b>Description:</b> A JMS Component<br/>
<b>Maven:</b> org.apache.camel/camel-jms/2.16.2<br/>
<p>A <a href="http://activemq.apache.org/jms.html">JMS Endpoint</a></p>
<table class='table'>
  <tr>
    <th align="left">Name</th>
    <th align="left">Kind</th>
    <th align="left">Group</th>
    <th align="left">Required</th>
    <th align="left">Default</th>
    <th align="left">Type</th>
    <th align="left">Enum</th>
    <th align="left">Description</th>
  </tr>
  <tr>
    <td>destinationType</td>
    <td>path</td>
    <td>common</td>
    <td></td>
    <td>queue</td>
    <td>java.lang.String</td>
    <td>queue<br/>topic<br/>temp:queue<br/>temp:topic</td>
    <td> The kind of destination to use
</td>
  </tr>
  <tr>
    <td>destinationName</td>
    <td>path</td>
    <td>common</td>
    <td>true</td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td> Name of the queue or topic to use as destination
</td>
  </tr>
  <tr>
    <td>clientId</td>
    <td>parameter</td>
    <td>common</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Sets the JMS client ID to use. Note that this value, if specified, must be unique and can only be used by a single JMS connection instance.
 It is typically only required for durable topic subscriptions.
 <p>
 If using Apache ActiveMQ you may prefer to use Virtual Topics instead.</td>
  </tr>
  <tr>
    <td>disableReplyTo</td>
    <td>parameter</td>
    <td>common</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>If true, a producer will behave like a InOnly exchange with the exception that JMSReplyTo header is sent out and
 not be suppressed like in the case of InOnly. Like InOnly the producer will not wait for a reply.
 A consumer with this flag will behave like InOnly. This feature can be used to bridge InOut requests to
 another queue so that a route on the other queue will send it´s response directly back to the original JMSReplyTo.</td>
  </tr>
  <tr>
    <td>durableSubscriptionName</td>
    <td>parameter</td>
    <td>common</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>The durable subscriber name for specifying durable topic subscriptions. The clientId option must be configured as well.</td>
  </tr>
  <tr>
    <td>jmsMessageType</td>
    <td>parameter</td>
    <td>common</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.component.jms.JmsMessageType</td>
    <td>Bytes<br/>Map<br/>Object<br/>Stream<br/>Text</td>
    <td>Allows you to force the use of a specific javax.jms.Message implementation for sending JMS messages.
 Possible values are: Bytes, Map, Object, Stream, Text.
 By default, Camel would determine which JMS message type to use from the In body type. This option allows you to specify it.</td>
  </tr>
  <tr>
    <td>testConnectionOnStartup</td>
    <td>parameter</td>
    <td>common</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether to test the connection on startup.
 This ensures that when Camel starts that all the JMS consumers have a valid connection to the JMS broker.
 If a connection cannot be granted then Camel throws an exception on startup.
 This ensures that Camel is not started with failed connections.
 The JMS producers is tested as well.</td>
  </tr>
  <tr>
    <td>acknowledgementModeName</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td>AUTO_ACKNOWLEDGE</td>
    <td>java.lang.String</td>
    <td>SESSION_TRANSACTED<br/>CLIENT_ACKNOWLEDGE<br/>AUTO_ACKNOWLEDGE<br/>DUPS_OK_ACKNOWLEDGE</td>
    <td>The JMS acknowledgement name, which is one of: SESSION_TRANSACTED, CLIENT_ACKNOWLEDGE, AUTO_ACKNOWLEDGE, DUPS_OK_ACKNOWLEDGE</td>
  </tr>
  <tr>
    <td>asyncConsumer</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Whether the JmsConsumer processes the Exchange asynchronously.
 If enabled then the JmsConsumer may pickup the next message from the JMS queue,
 while the previous message is being processed asynchronously (by the Asynchronous Routing Engine).
 This means that messages may be processed not 100% strictly in order. If disabled (as default)
 then the Exchange is fully processed before the JmsConsumer will pickup the next message from the JMS queue.
 Note if transacted has been enabled, then asyncConsumer=true does not run asynchronously, as transaction
 must be executed synchronously (Camel 3.0 may support async transactions).</td>
  </tr>
  <tr>
    <td>autoStartup</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether the consumer container should auto-startup.</td>
  </tr>
  <tr>
    <td>bridgeErrorHandler</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Allows for bridging the consumer to the Camel routing Error Handler, which mean any exceptions occurred while the consumer is trying to pickup incoming messages, or the likes, will now be processed as a message and handled by the routing Error Handler. By default the consumer will use the org.apache.camel.spi.ExceptionHandler to deal with exceptions, that will be logged at WARN/ERROR level and ignored.</td>
  </tr>
  <tr>
    <td>cacheLevelName</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td>CACHE_AUTO</td>
    <td>java.lang.String</td>
    <td>CACHE_AUTO<br/>CACHE_CONNECTION<br/>CACHE_CONSUMER<br/>CACHE_NONE<br/>CACHE_SESSION</td>
    <td>Sets the cache level by name for the underlying JMS resources.
 Possible values are: CACHE_AUTO, CACHE_CONNECTION, CACHE_CONSUMER, CACHE_NONE, and CACHE_SESSION.
 The default setting is CACHE_AUTO. See the Spring documentation and Transactions Cache Levels for more information.</td>
  </tr>
  <tr>
    <td>concurrentConsumers</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td>1</td>
    <td>int</td>
    <td></td>
    <td>Specifies the default number of concurrent consumers when consuming from JMS (not for request/reply over JMS).
 See also the maxMessagesPerTask option to control dynamic scaling up/down of threads.
 <p>
 When doing request/reply over JMS then the option replyToConcurrentConsumers is used to control number
 of concurrent consumers on the reply message listener.</td>
  </tr>
  <tr>
    <td>maxConcurrentConsumers</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td></td>
    <td>int</td>
    <td></td>
    <td>Specifies the maximum number of concurrent consumers when consuming from JMS (not for request/reply over JMS).
 See also the maxMessagesPerTask option to control dynamic scaling up/down of threads.
 <p>
 When doing request/reply over JMS then the option replyToMaxConcurrentConsumers is used to control number
 of concurrent consumers on the reply message listener.</td>
  </tr>
  <tr>
    <td>replyTo</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Provides an explicit ReplyTo destination, which overrides any incoming value of Message.getJMSReplyTo().</td>
  </tr>
  <tr>
    <td>replyToDeliveryPersistent</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether to use persistent delivery by default for replies.</td>
  </tr>
  <tr>
    <td>selector</td>
    <td>parameter</td>
    <td>consumer</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Sets the JMS selector to use</td>
  </tr>
  <tr>
    <td>acceptMessagesWhileStopping</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether the consumer accept messages while it is stopping.
 You may consider enabling this option, if you start and stop JMS routes at runtime, while there are still messages
 enqued on the queue. If this option is false, and you stop the JMS route, then messages may be rejected,
 and the JMS broker would have to attempt redeliveries, which yet again may be rejected, and eventually the message
 may be moved at a dead letter queue on the JMS broker. To avoid this its recommended to enable this option.</td>
  </tr>
  <tr>
    <td>consumerType</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td>Default</td>
    <td>org.apache.camel.component.jms.ConsumerType</td>
    <td>Simple<br/>Default<br/>Custom</td>
    <td>The consumer type to use, which can be one of: Simple, Default, or Custom.
 The consumer type determines which Spring JMS listener to use. Default will use org.springframework.jms.listener.DefaultMessageListenerContainer,
 Simple will use org.springframework.jms.listener.SimpleMessageListenerContainer.
 When Custom is specified, the MessageListenerContainerFactory defined by the messageListenerContainerFactory option
 will determine what org.springframework.jms.listener.AbstractMessageListenerContainer to use.</td>
  </tr>
  <tr>
    <td>defaultTaskExecutorType</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.component.jms.DefaultTaskExecutorType</td>
    <td>ThreadPool<br/>SimpleAsync</td>
    <td>Specifies what default TaskExecutor type to use in the DefaultMessageListenerContainer,
 for both consumer endpoints and the ReplyTo consumer of producer endpoints.
 Possible values: SimpleAsync (uses Spring's SimpleAsyncTaskExecutor) or ThreadPool
 (uses Spring's ThreadPoolTaskExecutor with optimal values - cached threadpool-like).
 If not set, it defaults to the previous behaviour, which uses a cached thread pool
 for consumer endpoints and SimpleAsync for reply consumers.
 The use of ThreadPool is recommended to reduce "thread trash" in elastic configurations
 with dynamically increasing and decreasing concurrent consumers.</td>
  </tr>
  <tr>
    <td>eagerLoadingOfProperties</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Enables eager loading of JMS properties as soon as a message is loaded
 which generally is inefficient as the JMS properties may not be required
 but sometimes can catch early any issues with the underlying JMS provider
 and the use of JMS properties</td>
  </tr>
  <tr>
    <td>exceptionHandler</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.spi.ExceptionHandler</td>
    <td></td>
    <td>To let the consumer use a custom ExceptionHandler. Notice if the option bridgeErrorHandler is enabled then this options is not in use. By default the consumer will deal with exceptions, that will be logged at WARN/ERROR level and ignored.</td>
  </tr>
  <tr>
    <td>exposeListenerSession</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether the listener session should be exposed when consuming messages.</td>
  </tr>
  <tr>
    <td>replyToSameDestinationAllowed</td>
    <td>parameter</td>
    <td>consumer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Whether a JMS consumer is allowed to send a reply message to the same destination that the consumer is using to
 consume from. This prevents an endless loop by consuming and sending back the same message to itself.</td>
  </tr>
  <tr>
    <td>deliveryMode</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td></td>
    <td>java.lang.Integer</td>
    <td>1<br/>2</td>
    <td>Specifies the delivery mode to be used.
 Possibles values are those defined by javax.jms.DeliveryMode.
 NON_PERSISTENT = 1 and PERSISTENT = 2.</td>
  </tr>
  <tr>
    <td>deliveryPersistent</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether persistent delivery is used by default.</td>
  </tr>
  <tr>
    <td>explicitQosEnabled</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>false</td>
    <td>java.lang.Boolean</td>
    <td></td>
    <td>Set if the deliveryMode, priority or timeToLive qualities of service should be used when sending messages.
 This option is based on Spring's JmsTemplate. The deliveryMode, priority and timeToLive options are applied to the current endpoint.
 This contrasts with the preserveMessageQos option, which operates at message granularity,
 reading QoS properties exclusively from the Camel In message headers.</td>
  </tr>
  <tr>
    <td>preserveMessageQos</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Set to true, if you want to send message using the QoS settings specified on the message,
 instead of the QoS settings on the JMS endpoint. The following three headers are considered JMSPriority, JMSDeliveryMode,
 and JMSExpiration. You can provide all or only some of them. If not provided, Camel will fall back to use the
 values from the endpoint instead. So, when using this option, the headers override the values from the endpoint.
 The explicitQosEnabled option, by contrast, will only use options set on the endpoint, and not values from the message header.</td>
  </tr>
  <tr>
    <td>priority</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>4</td>
    <td>int</td>
    <td>1<br/>2<br/>3<br/>4<br/>5<br/>6<br/>7<br/>8<br/>9</td>
    <td>Values greater than 1 specify the message priority when sending (where 0 is the lowest priority and 9 is the highest).
 The explicitQosEnabled option must also be enabled in order for this option to have any effect.</td>
  </tr>
  <tr>
    <td>replyToConcurrentConsumers</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>1</td>
    <td>int</td>
    <td></td>
    <td>Specifies the default number of concurrent consumers when doing request/reply over JMS.
 See also the maxMessagesPerTask option to control dynamic scaling up/down of threads.</td>
  </tr>
  <tr>
    <td>replyToMaxConcurrentConsumers</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td></td>
    <td>int</td>
    <td></td>
    <td>Specifies the maximum number of concurrent consumers when using request/reply over JMS.
 See also the maxMessagesPerTask option to control dynamic scaling up/down of threads.</td>
  </tr>
  <tr>
    <td>replyToOverride</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Provides an explicit ReplyTo destination in the JMS message, which overrides the setting of replyTo.
 It is useful if you want to forward the message to a remote Queue and receive the reply message from the ReplyTo destination.</td>
  </tr>
  <tr>
    <td>replyToType</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.component.jms.ReplyToType</td>
    <td>Temporary<br/>Shared<br/>Exclusive</td>
    <td>Allows for explicitly specifying which kind of strategy to use for replyTo queues when doing request/reply over JMS.
 Possible values are: Temporary, Shared, or Exclusive.
 By default Camel will use temporary queues. However if replyTo has been configured, then Shared is used by default.
 This option allows you to use exclusive queues instead of shared ones.
 See Camel JMS documentation for more details, and especially the notes about the implications if running in a clustered environment,
 and the fact that Shared reply queues has lower performance than its alternatives Temporary and Exclusive.</td>
  </tr>
  <tr>
    <td>requestTimeout</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>20000</td>
    <td>long</td>
    <td></td>
    <td>The timeout for waiting for a reply when using the InOut Exchange Pattern (in milliseconds).
 The default is 20 seconds. You can include the header "CamelJmsRequestTimeout" to override this endpoint configured
 timeout value, and thus have per message individual timeout values.
 See also the requestTimeoutCheckerInterval option.</td>
  </tr>
  <tr>
    <td>timeToLive</td>
    <td>parameter</td>
    <td>producer</td>
    <td></td>
    <td>-1</td>
    <td>long</td>
    <td></td>
    <td>When sending messages, specifies the time-to-live of the message (in milliseconds).</td>
  </tr>
  <tr>
    <td>allowNullBody</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Whether to allow sending messages with no body. If this option is false and the message body is null, then an JMSException is thrown.</td>
  </tr>
  <tr>
    <td>alwaysCopyMessage</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>If true, Camel will always make a JMS message copy of the message when it is passed to the producer for sending.
 Copying the message is needed in some situations, such as when a replyToDestinationSelectorName is set
 (incidentally, Camel will set the alwaysCopyMessage option to true, if a replyToDestinationSelectorName is set)</td>
  </tr>
  <tr>
    <td>disableTimeToLive</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Use this option to force disabling time to live.
 For example when you do request/reply over JMS, then Camel will by default use the requestTimeout value
 as time to live on the message being sent. The problem is that the sender and receiver systems have
 to have their clocks synchronized, so they are in sync. This is not always so easy to archive.
 So you can use disableTimeToLive=true to not set a time to live value on the sent message.
 Then the message will not expire on the receiver system. See below in section About time to live for more details.</td>
  </tr>
  <tr>
    <td>forceSendOriginalMessage</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>When using mapJmsMessage=false Camel will create a new JMS message to send to a new JMS destination
 if you touch the headers (get or set) during the route. Set this option to true to force Camel to send
 the original JMS message that was received.</td>
  </tr>
  <tr>
    <td>includeSentJMSMessageID</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Only applicable when sending to JMS destination using InOnly (eg fire and forget).
 Enabling this option will enrich the Camel Exchange with the actual JMSMessageID
 that was used by the JMS client when the message was sent to the JMS destination.</td>
  </tr>
  <tr>
    <td>replyToCacheLevelName</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Sets the cache level by name for the reply consumer when doing request/reply over JMS.
 This option only applies when using fixed reply queues (not temporary).
 Camel will by default use: CACHE_CONSUMER for exclusive or shared w/ replyToSelectorName.
 And CACHE_SESSION for shared without replyToSelectorName. Some JMS brokers such as IBM WebSphere
 may require to set the replyToCacheLevelName=CACHE_NONE to work.
 Note: If using temporary queues then CACHE_NONE is not allowed,
 and you must use a higher value such as CACHE_CONSUMER or CACHE_SESSION.</td>
  </tr>
  <tr>
    <td>replyToDestinationSelectorName</td>
    <td>parameter</td>
    <td>producer (advanced)</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>Sets the JMS Selector using the fixed name to be used so you can filter out your own replies
 from the others when using a shared queue (that is, if you are not using a temporary reply queue).</td>
  </tr>
  <tr>
    <td>asyncStartListener</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Whether to startup the JmsConsumer message listener asynchronously, when starting a route.
 For example if a JmsConsumer cannot get a connection to a remote JMS broker, then it may block while retrying
 and/or failover. This will cause Camel to block while starting routes. By setting this option to true,
 you will let routes startup, while the JmsConsumer connects to the JMS broker using a dedicated thread
 in asynchronous mode. If this option is used, then beware that if the connection could not be established,
 then an exception is logged at WARN level, and the consumer will not be able to receive messages;
 You can then restart the route to retry.</td>
  </tr>
  <tr>
    <td>asyncStopListener</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Whether to stop the JmsConsumer message listener asynchronously, when stopping a route.</td>
  </tr>
  <tr>
    <td>errorHandler</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>org.springframework.util.ErrorHandler</td>
    <td></td>
    <td>Specifies a org.springframework.util.ErrorHandler to be invoked in case of any uncaught exceptions thrown while processing a Message.
 By default these exceptions will be logged at the WARN level, if no errorHandler has been configured.
 You can configure logging level and whether stack traces should be logged using errorHandlerLoggingLevel and errorHandlerLogStackTrace options.
 This makes it much easier to configure, than having to code a custom errorHandler.</td>
  </tr>
  <tr>
    <td>errorHandlerLoggingLevel</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>WARN</td>
    <td>org.apache.camel.LoggingLevel</td>
    <td>TRACE<br/>DEBUG<br/>INFO<br/>WARN<br/>ERROR<br/>OFF</td>
    <td>Allows to configure the default errorHandler logging level for logging uncaught exceptions.</td>
  </tr>
  <tr>
    <td>errorHandlerLogStackTrace</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Allows to control whether stacktraces should be logged or not, by the default errorHandler.</td>
  </tr>
  <tr>
    <td>exceptionListener</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>javax.jms.ExceptionListener</td>
    <td></td>
    <td>Specifies the JMS Exception Listener that is to be notified of any underlying JMS exceptions.</td>
  </tr>
  <tr>
    <td>exchangePattern</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>InOnly</td>
    <td>org.apache.camel.ExchangePattern</td>
    <td>InOnly<br/>RobustInOnly<br/>InOut<br/>InOptionalOut<br/>OutOnly<br/>RobustOutOnly<br/>OutIn<br/>OutOptionalIn</td>
    <td>Sets the default exchange pattern when creating an exchange</td>
  </tr>
  <tr>
    <td>headerFilterStrategy</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.spi.HeaderFilterStrategy</td>
    <td></td>
    <td>To use a custom HeaderFilterStrategy to filter header to and from Camel message.</td>
  </tr>
  <tr>
    <td>idleConsumerLimit</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>1</td>
    <td>int</td>
    <td></td>
    <td>Specify the limit for the number of consumers that are allowed to be idle at any given time.</td>
  </tr>
  <tr>
    <td>idleTaskExecutionLimit</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>1</td>
    <td>int</td>
    <td></td>
    <td>Specifies the limit for idle executions of a receive task, not having received any message within its execution.
 If this limit is reached, the task will shut down and leave receiving to other executing tasks
 (in the case of dynamic scheduling; see the maxConcurrentConsumers setting).
 There is additional doc available from Spring.</td>
  </tr>
  <tr>
    <td>includeAllJMSXProperties</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Whether to include all JMSXxxx properties when mapping from JMS to Camel Message.
 Setting this to true will include properties such as JMSXAppID, and JMSXUserID etc.
 Note: If you are using a custom headerFilterStrategy then this option does not apply.</td>
  </tr>
  <tr>
    <td>jmsKeyFormatStrategy</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td>default<br/>passthrough</td>
    <td>Pluggable strategy for encoding and decoding JMS keys so they can be compliant with the JMS specification.
 Camel provides two implementations out of the box: default and passthrough.
 The default strategy will safely marshal dots and hyphens (. and -). The passthrough strategy leaves the key as is.
 Can be used for JMS brokers which do not care whether JMS header keys contain illegal characters.
 You can provide your own implementation of the org.apache.camel.component.jms.JmsKeyFormatStrategy
 and refer to it using the # notation.</td>
  </tr>
  <tr>
    <td>mapJmsMessage</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether Camel should auto map the received JMS message to a suited payload type, such as javax.jms.TextMessage to a String etc.</td>
  </tr>
  <tr>
    <td>maxMessagesPerTask</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>-1</td>
    <td>int</td>
    <td></td>
    <td>The number of messages per task. -1 is unlimited.
 If you use a range for concurrent consumers (eg min < max), then this option can be used to set
 a value to eg 100 to control how fast the consumers will shrink when less work is required.</td>
  </tr>
  <tr>
    <td>messageConverter</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>org.springframework.jms.support.converter.MessageConverter</td>
    <td></td>
    <td>To use a custom Spring org.springframework.jms.support.converter.MessageConverter so you can be in control
 how to map to/from a javax.jms.Message.</td>
  </tr>
  <tr>
    <td>messageCreatedStrategy</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.component.jms.MessageCreatedStrategy</td>
    <td></td>
    <td>To use the given MessageCreatedStrategy which are invoked when Camel creates new instances of <tt>javax.jms.Message</tt>
 objects when Camel is sending a JMS message.</td>
  </tr>
  <tr>
    <td>messageIdEnabled</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>When sending, specifies whether message IDs should be added.</td>
  </tr>
  <tr>
    <td>messageListenerContainerFactory</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>org.apache.camel.component.jms.MessageListenerContainerFactory</td>
    <td></td>
    <td>Registry ID of the MessageListenerContainerFactory used to determine what
 org.springframework.jms.listener.AbstractMessageListenerContainer to use to consume messages.
 Setting this will automatically set consumerType to Custom.</td>
  </tr>
  <tr>
    <td>messageTimestampEnabled</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether timestamps should be enabled by default on sending messages.</td>
  </tr>
  <tr>
    <td>pubSubNoLocal</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether to inhibit the delivery of messages published by its own connection.</td>
  </tr>
  <tr>
    <td>receiveTimeout</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>1000</td>
    <td>long</td>
    <td></td>
    <td>The timeout for receiving messages (in milliseconds).</td>
  </tr>
  <tr>
    <td>recoveryInterval</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>5000</td>
    <td>long</td>
    <td></td>
    <td>Specifies the interval between recovery attempts, i.e. when a connection is being refreshed, in milliseconds.
 The default is 5000 ms, that is, 5 seconds.</td>
  </tr>
  <tr>
    <td>requestTimeoutCheckerInterval</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>1000</td>
    <td>long</td>
    <td></td>
    <td>Configures how often Camel should check for timed out Exchanges when doing request/reply over JMS.
 By default Camel checks once per second. But if you must react faster when a timeout occurs,
 then you can lower this interval, to check more frequently. The timeout is determined by the option requestTimeout.</td>
  </tr>
  <tr>
    <td>synchronous</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td>false</td>
    <td>boolean</td>
    <td></td>
    <td>Sets whether synchronous processing should be strictly used, or Camel is allowed to use asynchronous processing (if supported).</td>
  </tr>
  <tr>
    <td>transferException</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>If enabled and you are using Request Reply messaging (InOut) and an Exchange failed on the consumer side,
 then the caused Exception will be send back in response as a javax.jms.ObjectMessage.
 If the client is Camel, the returned Exception is rethrown. This allows you to use Camel JMS as a bridge
 in your routing - for example, using persistent queues to enable robust routing.
 Notice that if you also have transferExchange enabled, this option takes precedence.
 The caught exception is required to be serializable.
 The original Exception on the consumer side can be wrapped in an outer exception
 such as org.apache.camel.RuntimeCamelException when returned to the producer.</td>
  </tr>
  <tr>
    <td>transferExchange</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>You can transfer the exchange over the wire instead of just the body and headers.
 The following fields are transferred: In body, Out body, Fault body, In headers, Out headers, Fault headers,
 exchange properties, exchange exception.
 This requires that the objects are serializable. Camel will exclude any non-serializable objects and log it at WARN level.
 You must enable this option on both the producer and consumer side, so Camel knows the payloads is an Exchange and not a regular payload.</td>
  </tr>
  <tr>
    <td>useMessageIDAsCorrelationID</td>
    <td>parameter</td>
    <td>advanced</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether JMSMessageID should always be used as JMSCorrelationID for InOut messages.</td>
  </tr>
  <tr>
    <td>transacted</td>
    <td>parameter</td>
    <td>transaction</td>
    <td></td>
    <td></td>
    <td>boolean</td>
    <td></td>
    <td>Specifies whether to use transacted mode</td>
  </tr>
  <tr>
    <td>lazyCreateTransactionManager</td>
    <td>parameter</td>
    <td>transaction (advanced)</td>
    <td></td>
    <td>true</td>
    <td>boolean</td>
    <td></td>
    <td>If true, Camel will create a JmsTransactionManager, if there is no transactionManager injected when option transacted=true.</td>
  </tr>
  <tr>
    <td>transactionManager</td>
    <td>parameter</td>
    <td>transaction (advanced)</td>
    <td></td>
    <td></td>
    <td>org.springframework.transaction.PlatformTransactionManager</td>
    <td></td>
    <td>The Spring transaction manager to use.</td>
  </tr>
  <tr>
    <td>transactionName</td>
    <td>parameter</td>
    <td>transaction (advanced)</td>
    <td></td>
    <td></td>
    <td>java.lang.String</td>
    <td></td>
    <td>The name of the transaction to use.</td>
  </tr>
  <tr>
    <td>transactionTimeout</td>
    <td>parameter</td>
    <td>transaction (advanced)</td>
    <td></td>
    <td>-1</td>
    <td>int</td>
    <td></td>
    <td>The timeout value of the transaction (in seconds), if using transacted mode.</td>
  </tr>
</table>
<h2>jms consumer</h2>
<p>A {@link org.apache.camel.Consumer} which uses Spring's {@link AbstractMessageListenerContainer} implementations
 to consume JMS messages.

 
 @see DefaultJmsMessageListenerContainer
 @see SimpleJmsMessageListenerContainer</p>
</body>
</html>
